h2{
  text-aling: center;
  font-size: 30px;
  color: blue;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200;
  background-color: #f1f1f1;h1 
  text-aling: center;
  font-size: 20px;
  color: blue;
}

li a{
  display: block;
  color:#000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.ativa{
  background-color: #D5BBB1;
  color: black
}

li a:hover:not(a.ativa){
  background-color: #555;
  color: white
}
p{
  font-size: 30px;
  color: black;
}

footer{
  font-size: 30px;
  color: black;
  background-color: blue;
  background-position: 0;
  text-align: center;
}




